@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --beige: rgb(255, 228, 196);
  --black: rgb(29, 29, 29);
  /* FONT */
  --font: "Open Sans", system-ui;
  --small-font: "Major Mono Display", system-ui;
}

body {
  background-color: var(--beige);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: none;
  overflow-x: hidden;
}

/* ************* CURSOR ************* */

.cursor-dot {
  width: 30px;
  height: 30px;
  background-color: var(--beige);
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 100;
  pointer-events: none;
  mix-blend-mode: difference;
}

/* ************* HERO SECTION ************* */

@keyframes heroName {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes heroSurname {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes heroSlider {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-title {
  font-size: 13.5vw;
  user-select: none;
  white-space: nowrap;
  line-height: 1;
  font-family: var(--font);
}

.hero-name {
  animation: heroName 0.6s ease-in-out;
}

.hero-surname {
  letter-spacing: 1.3vw;
  animation: heroSurname 0.6s ease-in-out;
}

/* HERO SLIDER */

@keyframes slide {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.hero-slider {
  overflow: hidden;
  padding: 30px 0;
  white-space: nowrap;
  animation: heroSlider 1.5s ease-in-out;
}

.skill-logos {
  display: inline-block;
  animation: 9s slide infinite linear;
}

.skill-logos img {
  width: 100px;
  height: 100px;
  margin-right: 25px;
}

/* scroll down img */

.scrolldown-img {
  width: 100px;
}
