@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Teko:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  cursor: none;
}

:root {
  /* COLORS */
  --beige: rgb(255, 237, 216);
  --black: rgb(35, 35, 35);
  /* FONT */
  --font: "Open Sans", system-ui;
  --alter-font: "Teko", sans-serif;
  --small-font: "Major Mono Display", system-ui;
}

body {
  background-color: var(--black);
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  font-family: var(--small-font);
  color: var(--beige);
  scroll-behavior: smooth;
  transition: 0.5s ease-in-out;
  cursor: none;
}

/* ************* THEME SWITCHER ************* */

.hero-name-middle {
  position: relative;
}

.theme-switcher {
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: 50px;
  z-index: 1;
}

/* ************* SCROLLBAR ************* */

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255, 0.05);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 3px;
}

/* ************* CURSOR ************* */

.cursor-dot {
  display: none;
  width: 30px;
  height: 30px;
  background-color: var(--black);
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 100;
  pointer-events: none;
  mix-blend-mode: difference;
}

@keyframes cursorAnimIn {
  from {
    width: 30px;
    height: 30px;
  }
  to {
    width: 80px;
    height: 80px;
  }
}

@keyframes cursorAnimOut {
  from {
    width: 80px;
    height: 80px;
  }
  to {
    width: 30px;
    height: 30px;
  }
}

/* ************* SCROLL DOWN ************* */

@keyframes mouseAnim {
  from {
    opacity: 0.5;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(25px);
  }
}

.scroll-down {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bi-mouse-fill {
  font-size: 50px;
  margin-bottom: 15px;
  animation: mouseAnim 2s infinite alternate ease-in-out;
}

.bi-caret-down-fill {
  margin: -8px 0;
  font-size: 25px;
}

.bi-caret-down-fill:nth-child(2) {
  animation: mouseAnim 2s infinite alternate ease-in-out;
}

/* ************* HERO SECTION ************* */

@keyframes heroName {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes heroSurname {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes heroSlider {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-title {
  display: inline-block;
  font-size: 14vw;
  user-select: none;
  white-space: nowrap;
  font-family: var(--small-font);
  font-weight: 800;
  color: var(--beige);
}

.hero-name {
  animation: heroName 1s ease-in-out;
  margin-bottom: 40px;
}

.hero-surname {
  /* letter-spacing: 1vw; */
  margin-top: 40px;
  animation: heroSurname 1s ease-in-out;
}

/* HERO SLIDER */

@keyframes slide {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.hero-slider {
  position: relative;
  overflow: hidden;
  padding: 25px 0;
  margin: 20px 0 0 0;
  white-space: nowrap;
  background-color: var(--beige);
  animation: heroSlider 1.5s ease-in-out;
}

.hero-left {
  position: absolute;
  top: 0;
  left: 0;
  background-color: aqua;
  height: 100%;
  width: 250px;
}

.skill-logos {
  display: inline-block;
  animation: 25s slide infinite linear;
}

.skill-logos img {
  width: 125px;
  height: 125px;
  margin-right: 75px;
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(255, 237, 216);
}

/* ************* NAVBAR ************* */

#page-navbar {
  margin: 50px 0;
  width: 100vw;
}

.sidebar-item:first-of-type {
  border-top: 2px solid var(--beige);
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90px;
  font-size: 40px;
  text-align: center;
  border-bottom: 2px solid var(--beige);
  transition: 0.3s ease-in-out;
}

.sidebar-item:hover {
  background-color: var(--beige);
  color: var(--black);
}

.about-me-click,
.portfolio-click,
.contacts-click {
  width: 100vw;
  font-size: 55px;
}

.about-me-context,
.portfolio-context,
.contacts-context {
  width: 90%;
  display: none;
  text-align: start;
  transition: 0.1s ease-in-out;
  box-sizing: border-box;
  font-size: 33px;
  transition: margin-top 0.2s ease-in-out;
}

/* about me */

.about-me-open {
  height: 875px;
  padding: 10px 0;
}

.about-me-context button {
  width: 350px;
  margin-top: 50px;
  padding: 15px 0;
  border-radius: 25px;
  color: var(--black);
  background-color: var(--beige);
  border: 2px solid var(--black);
  font-family: var(--small-font);
  font-weight: 800;
  font-size: 30px;
  letter-spacing: 1px;
  align-self: end;
  transition: 0.2s ease-in-out;
}

.about-me-context button:hover {
  color: var(--beige);
  background-color: var(--black);
  cursor: none;
}

/* contacts */

.contacts {
  box-sizing: border-box;
}

.contacts h3 {
  font-size: 40px;
  margin-bottom: 15px;
}

.contacts-open {
  height: 800px;
  padding: 10px 0;
}

.contacts-context h2 {
  margin-bottom: 25px;
}

.contacts-context ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-around;
}

.contacts-context ul li a,
.contacts-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 9px;
  transition: 0.2s ease-in-out;
  font-weight: 600;
}

.contacts-context ul li a i {
  font-size: 75px;
}

.contacts-li,
.contacts-email {
  color: var(--beige);
}

.contacts-context ul li a:hover {
  background-color: var(--black);
}

.contacts-context ul li .contacts-li:hover {
  color: var(--beige);
}

.contacts:hover .contacts-li,
.contacts:hover .contacts-email {
  color: var(--black);
}

.contacts-context p {
  text-align: center;
  margin: 20px 0;
}

/* ************* FOOTER ************* */

footer {
  margin-top: 50px;
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid var(--beige);
}

/* ************* MEDIA QUERIES ************* */

/* Small */
@media screen and (min-width: 576px) {
  .about-me-open {
    height: 825px;
  }
}

/* Medium */
@media screen and (min-width: 768px) {
  .about-me-open {
    height: 725px;
  }
}

/* Large */
@media screen and (min-width: 992px) {
  .cursor-dot {
    display: block;
  }
  .about-me-context,
  .portfolio-context,
  .contacts-context {
    width: 80%;
  }
  .about-me-open {
    height: 650px;
  }
  .contacts-open {
    height: 450px;
    padding: 10px 0;
  }
  .contacts-context ul {
    flex-direction: row;
  }
}

/* Extra large */
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 12vw;
  }
  .about-me-click,
  .portfolio-click,
  .contacts-click {
    font-size: 75px;
  }
}

/* Desktop */
@media screen and (min-width: 1400px) {
  .about-me-context,
  .portfolio-context,
  .contacts-context {
    width: 60%;
  }

  .about-me-open {
    height: 550px;
    padding: 10px 0;
  }

  .hero-title {
    font-size: 10vw;
  }
}
